/* ---------------------------TYPO--------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
}

.color-1 {
	color: $primary-color;
}

.color-2 {
	color: $secondary-color;
}

.color-3 {
	color: #3eaf8d;
}

.gras{
	font-weight: 600;
}

.font-14 {
	font-size: 14px;
}

.uppercase {
	text-transform: uppercase;
}

.fond-white{
	background: white;
}

.fa-twitter{
	color:#3a5ab7;
	font-size: 30px;
}


/* --------------------------- MENU--------------------------- */
header nav a {
	color:#a1a1a1;
	font-weight: 600;
}

header nav {
	background: white;

}
/* --------------------------- FOOTER--------------------------- */
footer nav {
	background: #e4e4e4;
	padding:20px;
}

footer nav a{;
	color:#668491;

}

/* --------------------------- MARGES--------------------------- */

.margin-0{
	margin-top:0;
	margin-bottom:0;
}

.padding-nouveaute-prochaine {
    padding: 40px 0px 68px 0px;
}

.padding-25{
	padding:25px;
}

/* --------------------------- ACCUEIL : SECTION 1 --------------------------- */
.slide-home{
	background:  url("../img/slide.png");
	background-size: cover;
	background-position: center;
	height: 600px;
	position: relative;
}

.slide-home a>img{
	position: absolute;
	bottom:50px;
	margin: auto;
}

/* --------------------------- ACCUEIL : SECTION 2--------------------------- */

.nouveaute {
	background:  url("../img/fond-nouveaute.png");
	background-size: cover;
	background-position: 0 -16px;
}


.nouveaute hr {
	border: 2px solid $primary-color;
	width: 30px;
	margin-top:14px;
	margin-bottom:14px;
}

.date-1, .date-2{
	margin:0 20%;
}

.padding-nouveaute {
	padding: 85px 118px 70px 118px;
}

.border-button-haut-bas {
	border-top:3px solid #a1a1a1;
	border-bottom:3px solid #a1a1a1;
	padding:15px 0;
}

.border-button-haut-bas:hover {
	border-top:3px solid $primary-color;
	border-bottom:3px solid $primary-color;
	padding:15px 0;
}

.border-button-haut {
	border-top:3px solid #a1a1a1;
	padding:15px 0;
}

.border-button-haut:hover {
	border-top: 3px solid $primary-color;
	padding:15px 0;
}

.voir-dates {
	margin: 90px 0;
}

/* --------------------------- ACCUEIL : SECTION 3--------------------------- */
section.home-section-3{
	padding-top: 48px;
	padding-bottom: 48px;
}
section.home-section-3{
	background:  url("../img/fond-body.png");
}

/* --------------------------- BIOGRAPHIE : SECTION 1 --------------------------- */
.slide-bio{
	background:  url("../img/fond-slide-2.png");
	background-size: cover;
	background-position: center;
	height: 440px;
	position: relative;
}

/* --------------------------- SIDEBAR --------------------------- */
.encadre{
	border: 4px solid #3eaf8d;
	padding:20px;
}

.margin-top-button{
	margin-top: 40px;
}

.hr-sidebar {
	width: 15px;
	border: 3px solid #3eaf8d;
}

.dl-docs {
	background:  url("../img/fond-dl.png");
	background-size: cover;
	min-height: 500px;
}
