<header>
	<div class="grid-container">
		<nav class="grid-x align-middle">
			<div class="large-1 cell">
				<a href="index.html"><img src="./assets/img/logo.png" alt=""></a>
			</div>
			<div class="large-2 cell">
				<ul class="dropdown menu align-center" data-dropdown-menu>
		    		<li><a href="index.html">Home</a></li>
		    		<li><a href="#">New</a></li>
		    		<li><a href="#">Concert</a></li>
		    		<li>
						<a href="#">Music</a>
						<ul class="menu">
							<li><a href="#">Disques</a></li>
							<li><a href="#">Vidéos</a></li>
						</ul>
					</li>
					<li><a href="biographie.html">Bio</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
			<div class="large-1 cell text-right">
				<a href="#">EN</a>
			</div>
		</nav>
	</div>
</header>
