<section class="cell large-1">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell large-4">
				<div class="grid-x">
					<div class="cell large-4">
						<div class="grid-x">
							<div class="cell large-4 text-center"><h5>Prochaines dates</h5></div>
						</div>
						<hr>
						<p>19 Aout<br>
						La Roque d’Anthéron - FRANCE</p>
						<p>22 Aout<br>
						Amsterdam - The Netherlands</p>
						<hr>
						<div class="grid-x">
							<div class="cell large-4 text-center"><a href="#">Voir +</a></div>
						</div>
					</div>
					<div class="cell large-4">
						<img src="http://via.placeholder.com/350x350">
					</div>
					<div class="cell large-4">
						<div class="grid-x align-center">
							<div class="cell large-4 text-center"><h5>DOWNLOAD DOCS</h5></div>
							<div class="grid-x align-center">
								<div class="cell large-2 text-center"><p>Chargez la version imprimable de ma biographie</p></div>
							</div>
							<div class="cell large-4 text-center"><a href="" class="button">Télécharger</a></div>
						</div>
					</div>
					<div class="cell large-4">
						<div class="grid-x align-center">
							<div class="cell large-4 text-center"><h5>TITRE DE L'ARTICLE</h5><hr></div>
							<div class="cell large-4 text-center"><img src="http://via.placeholder.com/150x150"></div>
							<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus ...</p>
							<div class="grid-x">
								<div class="cell large-4 text-center"><a href="#">Voir +</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
