<section class="cell large-1">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell large-4">
				<div class="grid-x grid-margin-y">
					<div class="cell large-4 encadre">
						<div class="grid-x">
							<div class="cell large-4 text-center"><h5 class="uppercase gras">Prochaines <br>dates</h5></div>
						</div>
						<hr class="hr-sidebar">
						<p><span class="color-3 gras">19 Aout</span><br>
						La Roque d’Anthéron - FRANCE</p>
						<p><span class="color-3 gras"> 22 Aout</span><br>
						Amsterdam - The Netherlands</p>
						<div class="grid-x">
							<div class="cell large-4 text-center margin-top-button"><a href="#" class="border-button-haut">Voir +</a></div>
						</div>
					</div>
					<div class="cell large-4">
						<img src="assets/img/bio-2.png" alt="Bio 1">
					</div>
					<div class="cell large-4 dl-docs">
						<div class="grid-x align-center grid-margin-y">
							<div class="cell large-4 text-center"><h5 class="uppercase gras">DOWNLOAD <br>DOCS</h5></div>
							<div class="grid-x align-center">
								<div class="cell large-2 text-center"><p>Chargez la version imprimable de ma biographie</p></div>
							</div>
							<div class="cell large-4 text-center"><a href="">Télécharger</a></div>
						</div>
					</div>
					<div class="cell large-4">
						<div class="grid-x align-center">
							<div class="cell large-4 text-center"><h5 class="uppercase gras">TITRE DE L'ARTICLE</h5><hr class="hr-sidebar"></div>
							<div class="cell large-4 text-center"><img src="assets/img/article.png" alt="Bio 1"></div>
							<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus ...</p>
							<div class="grid-x">
								<div class="cell large-4 text-center"><a href="#">Voir +</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
